services:
  emqx:
    image: emqx/emqx:latest
    container_name: emqx
    restart: always
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    ports:
      - "127.0.0.1:18083:18083"  # Dashboard (localhost only)
      - "8883:8883"              # MQTTS
    volumes:
      - ./data:/opt/emqx/data
      - ./log:/opt/emqx/log
      - ./certs:/opt/emqx/certs
    environment:
      # TLS listener
      EMQX_LISTENERS__SSL__DEFAULT__BIND: "8883"
      EMQX_LISTENERS__SSL__DEFAULT__SSL_OPTIONS__CACERTFILE: "/opt/emqx/certs/ca.pem"
      EMQX_LISTENERS__SSL__DEFAULT__SSL_OPTIONS__CERTFILE: "/opt/emqx/certs/server.pem"
      EMQX_LISTENERS__SSL__DEFAULT__SSL_OPTIONS__KEYFILE: "/opt/emqx/certs/server.key"
      # mTLS enforcement
      EMQX_LISTENERS__SSL__DEFAULT__SSL_OPTIONS__VERIFY: "verify_peer"
      EMQX_LISTENERS__SSL__DEFAULT__SSL_OPTIONS__FAIL_IF_NO_PEER_CERT: "true"
      # Authentication
      EMQX_ALLOW_ANONYMOUS: "false"

