services:
  home-assistant:
    container_name: home-assistant
    image: ghcr.io/home-assistant/home-assistant:stable
    volumes:
      - ./config:/config
    restart: unless-stopped
    ports:
      - "127.0.0.1:8123:8123"
    environment:
      - TZ=Europe/Prague
