esphome:
  name: smarthome-esp32
  friendly_name: "Environment Node ESP32(Node B)"

esp32:
  board: esp32doit-devkit-v1
  framework:
    type: esp-idf

ota:
  - platform: esphome
    password: !secret ota_password

api:
  encryption:
    key: !secret api_encryption_key

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: true

logger:
  level: DEBUG

# I2C bus configuration
i2c:
  sda: GPIO33
  scl: GPIO32
  scan: true
  id: bus_b

# Sensors will be added in next commit
