esphome:
  name: smarthome-esp32
  friendly_name: "Environment Node ESP32(Node B)"

esp32:
  board: esp32doit-devkit-v1
  framework:
    type: esp-idf

ota:
  - platform: esphome
    password: !secret ota_password

api:
  encryption:
    key: !secret api_encryption_key

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: true

# MQTT configuration
mqtt:
  broker: !secret mqtt_broker
  port: !secret mqtt_port
  
  certificate_authority: !secret mqtt_ca_cert
  client_certificate: !secret mqtt_client_cert
  client_certificate_key: !secret mqtt_client_key

logger:
  level: DEBUG

i2c:
  sda: GPIO33
  scl: GPIO32
  scan: true
  id: bus_b
